<div class="card">
    <div class="card-header">
      Gestion de Pasajes
    </div>
    <div class="card-body">
        <form #pasajeForm="ngForm">
              <div class="mb-3">
                <label for="idfuncion" class="form-label">Precio</label>
                <input name="precio" type="number" class="form-control" id="idnombre"
                [(ngModel)]="pasajeIngresado.precioPasaje" required min="1">
              </div>
              <div class="mb-3">
                <label for="de">Categoria Pasajero</label>
                  <select id="categoria" class="custom-select form-control" name="categoria" [(ngModel)]="pasajeIngresado.categoriaPasajero" required  >
                    <option value="Menor">Menor</option>
                    <option value="Adulto">Adulto</option>
                    <option value="Jubilado">Jubilado</option>
                  </select>
              </div>
              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input name="Fecha" type="text" class="form-control" id="fecha"
                [(ngModel)]="pasajeIngresado.fechaCompra"  required >
              </div>
              <div class="mb-3">
                <label for="a">Pasajero</label>
                    <select class="custom-select form-control" name="pasajero" [(ngModel)]="documento" required >
                        <option *ngFor="let item of personas"  [value]="item.nro_documento">{{item.nombre}}</option>
                    </select>
              </div>
              <button  *ngIf="accion=='new'" (click)="cargarPasaje()" type="button" class="btn btn-primary" [disabled]="pasajeForm.invalid" >Guardar</button> 
              <button  *ngIf="accion=='update'" (click)="actualizarPasaje()" type="button" class="btn btn-primary" [disabled]="pasajeForm.invalid" >Actualizar</button>                      
        </form>
    </div>
</div>
