<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="./punto1">Punto 1</a>
        <a class="nav-link" href="./punto2">Punto 2</a>
        <a class="nav-link" href="./punto3">Punto 3</a>
      </div>
    </div>
  </div>
  <span class="navbar-text">
    Trabajo Practico Angular
  </span>
</nav>